services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=menu
    volumes:
      - mongodb_data:/data/db
    networks:
      - restaurant-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_container
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - restaurant-network

  menu-service:
    build:
      context: ./MenuService
      dockerfile: Dockerfile
    container_name: menu_service_container
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://admin:password@mongodb:27017/menu?authSource=admin
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=guest
      - SPRING_RABBITMQ_PASSWORD=guest
    depends_on:
      - mongodb
      - rabbitmq
    networks:
      - restaurant-network

  order-service:
    build:
      context: ./OrderService
      dockerfile: Dockerfile
    container_name: order_service_container
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://admin:password@mongodb:27017/orders?authSource=admin
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=guest
      - SPRING_RABBITMQ_PASSWORD=guest
      - MENU_SERVICE_URL=http://menu-service:8080
    depends_on:
      - mongodb
      - rabbitmq
    networks:
      - restaurant-network

volumes:
  mongodb_data:

networks:
  restaurant-network:
    driver: bridge